<header>
  <nav>
    <div class="nav-container">
      <a href="../../index.html" id="logo">
        <img src="/public/Logo/Logo1_QuikyStudio.svg" alt="Logo Quikiytudio" />
      </a>
      <ul class="nav-bar">
        <li>
          <a href="/pages/webSite_page/siteWeb.html">Site Internet</a>
        </li>
        <li>
          <a href="/pages/creationsGraphiques_page/creationraphique.html"
            >Créations Graphiques</a
          >
        </li>
        <li>
          <a href="/pages/communityManagement_page/communityManagement.html"
            >Community Management</a
          >
        </li>
        <li>
          <a href="#" class="dropdown-toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="4"
              height="12"
              viewBox="0 0 4 12"
              fill="none"
            >
              <circle cx="1.52315" cy="1.64815" r="1.52315" fill="#0E2E3E" />
              <circle cx="1.52315" cy="5.99995" r="1.52315" fill="#0E2E3E" />
              <circle cx="1.52315" cy="10.3518" r="1.52315" fill="#0E2E3E" />
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/pages/nosProjets_page/projets.html">Nos Réalisation</a>
            </li>
            <li><a href="#">Nous Contacter</a></li>
            <li><a href="#">Article de blog</a></li>
            <li><a href="#">Nos Formation</a></li>
          </ul>
        </li>
      </ul>
      <button class="button-bleu">Un projet ?</button>
    </div>
    <div class="nav-container-phone">
      <nav role="navigation">
        <div id="menuToggle">
          <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
          <input type="checkbox" />

          <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
          <span></span>
          <span></span>
          <span></span>

          <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
          <ul id="menu">
            <a href="/index.html"><li>Home</li></a>
            <a href="/pages/webSite_page/siteWeb.html"
              ><li>Site Internet</li></a
            >
            <a href="/pages/creationsGraphiques_page/creationraphique.html"
              ><li>Création Graphiques</li></a
            >
            <a href="/pages/communityManagement_page/communityManagement.html"
              ><li>Community Management</li></a
            >
            <a href=""><li>Contact</li></a>
            <!--Manque lien de la page -->
          </ul>
        </div>
      </nav>
    </div>
  </nav>
</header>
<!-- Fin du header -->
