<header>
  <nav>
    <div class="nav-container">
      <a href="#" id="logo">
        <img src="./public/Logo/Logo1_QuikyStudio.svg" alt="Logo Quikiytudio" />
      </a>
      <ul class="nav-bar">
        <li>
          <a href="./pages/webSite_page/siteWeb.html">Site Internet</a>
        </li>
        <li>
          <a href="./pages/creationsGraphiques_page/creationraphique.html"
            >Créations Graphiques</a
          >
        </li>
        <li>
          <a href="./pages/communityManagement_page/communityManagement.html"
            >Community Management</a
          >
        </li>
        <li>
          <a href="#" class="dropdown-toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="4"
              height="12"
              viewBox="0 0 4 12"
              fill="none"
            >
              <circle cx="1.52315" cy="1.64815" r="1.52315" fill="#0E2E3E" />
              <circle cx="1.52315" cy="5.99995" r="1.52315" fill="#0E2E3E" />
              <circle cx="1.52315" cy="10.3518" r="1.52315" fill="#0E2E3E" />
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Nos Réalisation</a></li>
            <li><a href="#">Nous Contacter</a></li>
            <li><a href="#">Article de blog</a></li>
            <li><a href="#">Nos Formation</a></li>
          </ul>
        </li>
      </ul>
      <button class="button-bleu">Un projet ?</button>
    </div>
  </nav>
</header>
<!-- Fin du header -->
