/******************************************* RETOUR CLIENT********************************************/

#projects h2 {
  text-align: center;
  margin-bottom: 70px;
}

.card-carrousel {
  display: flex !important;
  flex-direction: row !important;
  margin: 10px;
  background-color: #e4faff;
  border-radius: 15px;
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.card-carrousel img {
  width: 206px;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 7.5px;
  margin-right: 29px;
  position: relative;
}
.image-container {
  position: relative;
}

.logo {
  position: absolute;
  width: 30px !important;
}

.card-carrousel.with-logo .image-container {
  position: relative;
}

.card-carrousel.with-logo .image-container::before {
  content: url(../../public/Logo/goute_quiky_bleu.svg);
  position: absolute;
  right: 40px;
  top: 15px;
  z-index: 9999999;
  width: 30px;
}
.card-carrouse-text {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 25px;
}
.card-carrousel h4 {
  font-size: 16px;
  font-weight: 700;
}

.card-carrousel h5 {
  font-size: 16px;
  color: #64748b;
  font-weight: 500;
}

.card-carrousel p {
  color: var(--noir);
  font-size: 15px;
  font-weight: 500;
  line-height: 28px; /* 186.667% */
}
.card-retourt-client-name-post {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.inner {
  display: flex;
}
.star {
  font-size: 17px;
  color: #ccc;
  cursor: pointer;
}

.star.selected {
  color: var(--orangeLogo);
}

/******************************************* RESPONCIVE ********************************************/
/* Mobile styles */
@media (max-width: 480px) {
  /* styles for large mobile screens */
  .card-carrousel {
    flex-direction: column !important;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    max-width: 85%;
  }
  .card-carrouse-text {
    text-align: left;
    gap: 15px;
    padding: 30px;
    padding-top: 10px;
  }
  .rating {
    margin: 0 auto;
  }
  .star {
    font-size: 23px;
  }
  .card-carrousel img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }
  .card-carrousel.with-logo .image-container::before {
    right: 10px;
    top: 1px;
  }
  .card-retourt-client-name-post {
    justify-content: center;
  }
}
