/*CSS Globale pour toutes les pages  du site ( font , couleurs etc.)*/

/*Import des polices pour tout le site*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Mise en place des varaibles couleur pour tout le site*/
:root {
  --bleuClaire: rgba(240, 253, 255, 1);
  --bleuLogo: rgba(26, 157, 186, 1);
  --orangeClaire: rgba(255, 246, 229, 1);
  --orangeLogo: rgba(255, 153, 0, 1);
  --noir: rgba(14, 46, 62, 1);
  --blanc: #fff;
  --maronLogo: rgba(203, 97, 0, 1);
  --bleuSlider: rgba(0, 121, 153, 1);
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--bleuClaire);
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--bleuLogo);
  font-size: 60px;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--noir);
  font-size: 17px;
}
