/******************************************* NOS Projest section (sur toute les pages )********************************************/
.porjets-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 8rem;
  background-color: var(--bleuLogo);
  padding: 3rem;
}

.porjets-container h2 {
  color: var(--blanc);
  text-align: center;
  margin: 1.5rem;
}
.porjets-container h2 span {
  color: var(--orangeLogo);
  background-color: var(--orangeClaire);
  border-radius: 15px;
  padding: 0rem 0.6rem;
}
.porjets-container p {
  color: var(--blanc);
  text-align: center;
  margin-top: 1rem;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}

.slider img {
  width: 558px;
  height: 390px;
  object-fit: cover;
  border-radius: 25px;
}
.btn-nosRealisation {
  margin-top: 55px;
  color: var(--orangeLogo);
  background-color: var(--orangeClaire);
  border-radius: 25px;
  padding: 15px 18px;
  font-family: "Inter";
  font-size: 16.2px;
  font-weight: 600;
}
