<footer>
  <div class="top-footer">
    <div class="social-media">
      <p>Suivez-nous sur les réseaux ❤️</p>
      <a href="https://www.instagram.com/quiky_studio/" target="_blank"
        ><img src="/public/Icons/logo_instagram.svg" alt="" />
      </a>
      <a
        href="https://www.linkedin.com/in/quiky-studio-b2552b309/"
        target="_blank"
        ><img src="/public/Icons/logo_linkedin.svg" alt="" />
      </a>
    </div>
    <h3>N’attendez pas que la <br />réussite vienne à vous</h3>
    <div class="footer-rdv">
      <div class="footer-rdv-bull">
        <p>Dispo pour échange ?</p>
        <div class="fotter-rdv-bull-img">
          <img src="/public/images/Joacim_Samuel.jpg" alt="" />
          <img src="/public/images/Joacim_Samuel.jpg" alt="" />
        </div>
      </div>
      <a href="#" target="_blank">&#x2192;Prendre rendez-vous &#128197; </a>
    </div>
  </div>
  <div class="bottom-footer">
    <ul>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Confidentialité</a></li>
      <li><a href="#">Gestion des Cookies</a></li>
    </ul>
    <p style="margin-right: 15rem">Fait avec ❤️ par Quiky Studio</p>
    <p>Tous droits réservés</p>
  </div>
</footer>
