<footer>
  <div class="top-footer">
    <div class="social-media">
      <p>Suivez-nous sur les réseaux ❤️</p>
      <a href="https://www.instagram.com/quiky_studio/" target="_blank"
        ><img src="/public/Icons/logo_instagram.svg" alt="" />
      </a>
      <a href="https://www.linkedin.com/company/quiky-studio" target="_blank"
        ><img src="/public/Icons/logo_linkedin.svg" alt="" />
      </a>
    </div>
    <h3>N’attendez pas que la <br />réussite vienne à vous</h3>
    <div class="footer-rdv">
      <div class="footer-rdv-bull">
        <p>Dispo pour échanger ?</p>
        <div class="fotter-rdv-bull-img">
          <img src="/public/images/Anais_Freminet.png" alt="Anais Freminet" />
          <img src="/public/images/Joachim_Samuel.png" alt="Samuel Joachim" />
        </div>
      </div>
      <a href="#" target="_blank">
        <span style="border: none">&#x2192;</span>Prendre rendez-vous &#128197;
      </a>
    </div>
  </div>
  <div class="bottom-footer">
    <ul>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Confidentialité</a></li>
      <li><a href="#">Gestion des Cookies</a></li>
    </ul>
    <p style="margin-right: 15rem; font-weight: 500; font-size: 14px">
      Fait avec ❤️ par Quiky Studio
    </p>
    <p style="font-size: 14px; border-bottom: solid var(--noir) 1px">
      Tous droits réservés
    </p>
  </div>
</footer>
